# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
download/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
.var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
share/python-wheels/

# Virtual environments
.env
.env/
venv/
venv*/
.venv/
env/
ENV/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Unit test / coverage
.pytest_cache/
.tox/
.coverage
coverage.xml
nosetests.xml
test_results/

# Mypy
.mypy_cache/

# Cache
.cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Database
*.sqlite3

